{% extends "coffeez/base.html" %}

{% block title %}Contact Coffeez{% endblock %}

{% block content %}
<div class="contact-container">
    <h2>Get in Touch</h2>
    <p>I’m open to connect or collaborate. Whether you have questions, feedback, or opportunities to discuss, feel free to reach out.</p>
    <p>If you need assistance with the app or have issues with your transactions, I’m here to help.<p>

    <p>Contact me directly at: <a href="mailto:radanbhr@gmail.com">radanbhr@gmail.com</a></p>
</div>
{% endblock %}
